html {
    overflow: hidden;
}

#title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}

#title::selection {
    color: gray;
}

#start-button {
    font-size: 40px;
    background-color: #09c200;
    color: green;
    text-align: center;
    justify-self: center;
}

#patch-button {
    font-size: 40px;
    background-color: yellow;
    color: yellowgreen;
    text-align: center;
    justify-self: center;
}

.square {
    height: 50px;
    width: 50px;
    background-color: gray
}

#player {
    position: absolute;
    background-color: blue;
    left: 200px;
    top: 200px;
}

#inv-1, #inv-2, #inv-3, #inv-4, #inv-5, #inv-6 {
    height: 50px;
    width: 50px;
    background: #c8c8c8;
    left: 100px;
    position: absolute;
    z-index: 10
}

#inv-1 {
    background: #868686;
}

#inv-1-text, #inv-2-text, #inv-3-text, #inv-4-text, #inv-5-text, #inv-6-text {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 25px;
}

#inv-1-count, #inv-2-count, #inv-3-count, #inv-4-count, #inv-5-count, #inv-6-count {
    font-size: 25px;
    top: -30px;
    left: 35px;
    position: absolute;
    color: black;
}

#inv-1-wood, #inv-2-wood, #inv-3-wood, #inv-4-wood, #inv-5-wood, #inv-6-wood {
    height: 30px;
    width: 30px;
    background: #925b00;
    position: absolute;
    left: 10px;
    top: 10px;
}

#inv-1-stone, #inv-2-stone, #inv-3-stone, #inv-4-stone, #inv-5-stone, #inv-6-stone {
    height: 30px;
    width: 30px;
    background: #8f8f8f;
    position: absolute;
    left: 10px;
    top: 10px;
}


#tree1 {
    height: 50px;
    width: 50px;
    background: #00ff00;
    position: absolute;
    transition: background-color 0.3s ease;
}

#tree {
    height: 50px;
    width: 50px;
    background: #04bb04;
    position: absolute;
    transition: background-color 0.3s ease;
}

#tree:hover {
    background: #005d00;
}

#tree1:hover {
    background: #005d00;
}

#version {
    margin-top: 0px;
    color: gray;
    text-align: center;
    margin-bottom: 500px;
}

#version::selection {
    color: black;
}

#wood-hold {
    height: 15px;
    width: 15px;
    left: 45px;
    top: 40px;
    background: #925b00;
    position: absolute;
}

#stone-hold {
    height: 15px;
    width: 15px;
    left: 45px;
    top: 40px;
    background: #8f8f8f;
    position: absolute;
}

#health-value {
    height: 10px;
    width: 100px;
    background: red;
    position: absolute;
    transition: width 0.3s ease
    z-index: 10;
}

#health-bar {
    height: 10px;
    width: 100px;
    background: gray;
    position: absolute;
    transition: width 0.3s ease
    z-index: 10;
}

#patch {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}

#patch::selection {
    color: gray;
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #bdbdbd;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.5s ease;
}

#patch1 {
    color: gray;
    text-align: center;
    margin-top: 0px;
}

#patch2 {
    text-align: center;
}

#patch-back {
    text-align: center;
    justify-self: center;
    font-size: 40px;
    background: red;
    color: #870000;
}

#noti {
    display: block;
    position: absolute;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.1s ease;
}

.tree {
    height: 50px;
    width: 50px;
    background: #04bb04;
    position: absolute;
    transition: background-color 0.3s ease;
}

.stone {
    height: 50px;
    width: 50px;
    background: #8f8f8f;
    position: absolute;
    transition: background-color 0.3s ease;
}

#rock1 {
    height: 50px;
    width: 50px;
    background: #8f8f8f;
    position: absolute;
    transition: background-color 0.3s ease;
}

#rock1:hover {
    background: #575757;
}

#debug-input {
    align-content: center;
    width: 300px;
    margin: 0 auto;
}

.tree:hover {
    background: #005d00;
}

.placedwood {
    height: 50px;
    width: 50px;
    background: #925b00;
    position: absolute;
}
